<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.admin.modules.role.mapper.RoleMapper">


	<resultMap id="roleResultMap" type="role">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="roleCode" column="role_code" />
		<result property="remark" column="remark" />
		<collection property="userRole" column="id" select="com.smart.admin.modules.role.mapper.UserRoleMapper.selectUserRoleByRoleId"/>
		<collection property="rolePermission" column="id" select="com.smart.admin.modules.role.mapper.RolePermissionMapper.selectByRoleId"/>
	</resultMap>

	<insert id="save" parameterType="role" useGeneratedKeys="true"
		keyProperty="id">
		insert into ts_role(name,role_code,remark) values
		(#{name},#{roleCode},#{remark})
	</insert>

	<!-- 分页查询 -->
	<select id="findPageList" parameterType="java.util.Map"
		resultMap="roleResultMap">
		select * from ts_role
		<where>
			<if test="name != null">
				 name like "%"#{name}"%"
			</if>
		</where>
		
		<if test="sortField != null and sortType != null">
				 order by ${sortField}  ${sortType}
		</if>
		
		limit #{start} ,#{pageSize}
	</select>

	<select id="count" parameterType="java.util.Map" resultType="Integer">
		select count(*) from ts_role
		<where>
			<if test="name != null">
				 name like "%"#{name}"%"
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="role">
	  update ts_role set
	  name=#{name},
	  role_code=#{roleCode},
	  remark=#{remark}
	  where id= #{id}
	</update>
	
	<select id="get" resultMap="roleResultMap" parameterType="Integer">
	 	 select * from ts_role where id=#{id}
	</select>
	
	<delete id="delete" parameterType="Integer">
		 delete from ts_role where id=#{id}
	</delete>
    
    <!-- 批量删除 -->
    <delete id="deleteBatch">
            delete from ts_role where id in  
	    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach>  
    </delete>  
    
    <!-- 级联删除 -->
    <delete id="deleteRoleOfUser">
            delete from ts_user_role where role_id in  
	    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach>  
    </delete>  
    
    <delete id="deleteRolePermission">
            delete from ts_role_permission where role_id in  
	    <foreach collection="array" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach>  
    </delete>  
    
     <select id="findAllList" resultMap="roleResultMap">
        select * from ts_role order by id desc 
    </select>


</mapper>

